.introduction {
    transition: .5s;
    padding: 20px;
}

/* Основные темы */
.introduction.dark {
    background: #f9f9f9;
    color: #333; /* Темный текст для светлой темы */
}

.introduction.light {
    background: linear-gradient(94.84deg, rgb(29, 29, 29) 31.722%,rgb(29, 29, 29) 90.537%,rgb(29, 29, 29) 90.537%);
    color: #fff; /* Белый текст для темной темы */
}

.introduction__info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 102px;
}

.introduction__info h2 {
    width: 363px;
    height: 63px;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 18.54%;
    text-align: left;
  
}

/* Теперь цвет заголовка меняется в зависимости от темы */
.introduction.dark .introduction__info h2 {
      color: black; 
}

.introduction.light .introduction__info h2 {
    color: white;
}

.introduction__info p {
color: white;
    font-family: OpenSans;
    font-size: 15px;
    font-weight: 400;
    line-height: 138.68%;
    letter-spacing: 0%;
    text-align: justify;
    width: 1148px;
    height: 89px;
   
}

/* Теперь цвет текста меняется в зависимости от темы */
.introduction.dark .introduction__info p {
      color: #333;
}

.introduction.light .introduction__info p {
    color: #fff;
}
